<%- include("partials/header") -%>
           <title>About Us</title>
         </head>
       <body>


      <br />
      <br />
       <div class="about-page">
         <a  href="/" >
         <img class="mb-4 zoom-text" src="images/logo.png" alt="" width="130" height="130">
         </a>
         <h1>About Us</h1>
         <p class="zoom-text">
           OBD Solutions is the leading provider of on-board diagnostics solutions.<br />
           Our hardware and software offerings cover the full spectrum of on-board<br />
           diagnostic (OBD) applications.
           </p>
           <br />

           <h2>Vision</h2>
           <p class="zoom-text">
             Simply stated, to be the best OBD solutions company in the world.
             </p>
             <br />

            <h2>Mission</h2>
            <p class="zoom-text">
              Our mission is to deliver high value, high quality OBD solutions that<br />
              contribute to the ongoing success of our customers, partners, and employees.
              </p>
         </div>




<%- include("partials/footer") -%>
