<%- include("partials/header") -%>
           <title>Administrator</title>
         </head>
       <body>

         <section id="user_DashBoard">
           <div class="row r_1">
               <div class="col-lg-3 c_1">
                   <div class="cross_bar"><i class="fas fa-times" id="cross"></i></div>
                  <div class="dp"> <img src="images/logo.png"></div>
                  <hr class="line"><br>
                  <h1> OBD solutions </h1><br>
                  <hr class="line"><br />
                    <div class="location-message"> </div><br />
                  <form class="admin-style" action="/admin_signout" method="post">
                     <button class=" btn btn-outline-light" type="submit" name="button">Logout!</button>
                  </form>
                  <br />
                  <br />
                  <br />
               </div>
               <div class="col-lg-9 c_2">
                   <div class="menu_bar"><i class="fas fa-bars" id="hamburger"></i></div>
                       <div class="row c_2_r container-fluid" id="c_2_r_1">

                           <div class="upper_cards col-lg-4">
                               <div class="card">
                                   <div class="card-header">
                                       <img class="my_image" src="images/user.jpg">
                                   </div>
                                   <div class="card-body">
                                    <span style="font-size: 8rem; font-weight: bold; color: #147075;">24</span>
                                       <a  class="my_link_upper" href="/companies"><h1>COMPANIES</h1></a>
                                   </div>

                               </div>
                           </div>
                           <div class="upper_cards col-lg-4">
                            <div class="card">
                                <div class="card-header">
                                    <img class="my_image" src="images/user.jpg">
                                </div>
                                <div class="card-body">
                                    <span style="font-size: 8rem; font-weight: bold; color: #147075;">20</span>
                                    <a  class="my_link_upper" href="/drivers"><h1>DRIVERS</h1></a>
                                </div>

                            </div>
                        </div>
                        <div class="upper_cards col-lg-4">
                          <div class="card">
                              <div class="card-header">
                                  <img class="my_image" src="images/user.jpg">
                              </div>
                              <div class="card-body">
                                  <span style="font-size: 8rem; font-weight: bold; color: #147075;">20</span>
                                  <a  class="my_link_upper" href="/vehicles"><h1>VEHICLE</h1></a>
                              </div>

                          </div>
                      </div>


                       </div>
                    </div>
              </div>
       </section>

<%- include("partials/footer") -%>