<%- include("partials/header") -%>
    <title>Administrator</title>
  </head>
<body>

    <h1 class="admin-style">Admin Page!</h1>
    <br />
    <form class="admin-style" action="/signout" method="post">
       <button type="submit" name="button">Log Out!</button>
    </form>

  <%- include("partials/footer") -%>
