<!doctype html>
<html lang="en">
  <head>
    <link rel="icon" href="images/icon.png">

    <link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/sign-in/">

    <!-- Bootstrap Files CDN link -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link rel="stylesheet" href="css/bootstrap-social.css"  />

    <!-- Custom styles for this template -->
    <link href="css/signin.css" rel="stylesheet">

    <!-- Favicon -->
    <link rel="icon" href="images/favicon.png">

    <!-- firebase javascript SDK -->


    <title>Admin Login</title>

  </head>

<body>

        <form class="form-signin form-features" action="/admin_login1" method="POST">
          <a  href="/" >
          <img class="mb-4" src="images/logo.png" alt="" width="130" height="130">
          </a>
          <%     if(adminMessage){         %>
            <div class="alert alert-danger" style="background-color: rgb(248, 139, 139);"  role="alert">
              <b>Sorry.....You are not an Admin!</b>
            </div>
          <%                    }      %>
          <h1 class="h3 mb-3 font-weight-normal">Please Login</h1>
          <input type="email" name="username" class="form-control" placeholder="Email address" required autofocus>
          <input type="password" name="password" class="form-control" placeholder="Password" required>
          <div class="checkbox mb-3">
            <label>
              <input type="checkbox" value="remember-me"> Remember me
            </label>
          </div>
          <button class="btn btn-lg btn-primary btn-block" type="submit">Login</button>
        </form>
   </body>
</html>
