<%- include("partials/header")-%>
     <title>OBD Solutions</title>
  </head>
<body>

     <div class="bg">
       <div>

         <!-- Header Section -->

         <section id="header">

           <nav class="navbar navbar-expand-lg navbar-dark">
             <a class="navbar-brand" href=""><img class="logo-image"  src="images/logo.png"/></a>
             <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
               <span class="navbar-toggler-icon"></span>
             </button>
             <div class="collapse navbar-collapse" id="navbarSupportedContent">
               <ul class="navbar-nav ml-auto">
                 <li class="nav-item">
                   <a class="nav-link" href=""><b>Download</b></a>
                 </li>
                 <li class="nav-item">
                   <a class="nav-link" href=""><b>About Us</b></a>
                 </li>
                 <li class="nav-item">
                   <a class="nav-link" href=""><b>Contact </b></a>
                 </li>
               </ul>
             </div>
           </nav>

         </section>


         <!-- Intrduction and Login section -->

         <div class="container-fluid intro-section">
           <div class="row">

                <!-- Intro text -->
                <div class="col-lg-6">
                  <h1 class="intro-text-1">OBD </h1>
                  <h1 class="intro-text-2">Next Generation Diagnosis</h1>
                  <p class="intro-text-3">
                       We provide modern day solutions for fleet management.<br />
                       Fleet management is a set of tools used to manage  commercial<br />
                       vehicle performance. It can take the form of vehicle tracking<br />
                       diagnostics, maintenance, monitoring driver performance, etc.
                    </p>
                </div>

                <!-- Login Route -->
                <div class="col-lg-6 login-section">
                  <p class="login-text">Login to explore our services!</p>
                  <br /><br />
                  <a href="admin_login1"><button type="button" class="btn btn-danger login-button">Admin Login</button></a>
                  <br /><br />
                  <a href="user_login1"><button type="button" class="btn btn-danger login-button">Users Login</button></a>
                </div>

           </div>
         </div>


       </div>
     </div>

     <!-- Footer -->
     <footer data-aos="fade-up" data-aos-duration="900" class="page-footer font-small unique-color-dark">

       <div style="background-color: #271d66;">
         <div class="container">

           <!-- Grid row-->
           <div class="row py-4 d-flex align-items-center">

             <!-- Grid column -->
             <div class="col-md-6 col-lg-5 text-center text-md-left mb-4 mb-md-0">
               <h5 class="mb-0">Connect with us on </h5>
             </div>
             <!-- Grid column -->

             <!-- Grid column -->
             <div class="col-md-6 col-lg-7 text-center text-md-right">

               <!-- Facebook -->
               <a class="icons" href="#">
                 <i class="fa fa-facebook"></i>
               </a>
               <!-- Instagram -->
               <a class="icons" href="#">
                 <i class="fa fa-instagram"></i>
               </a>
               <!-- Linkedin -->
               <a class="icons" href="#">
                 <i class="fa fa-linkedin"></i>
               </a>
               <!-- Twitter-->
               <a class="icons" href="#">
                 <i class="fa fa-twitter"></i>
               </a>
               <!--Github-->
               <a class="icons" href="#">
                 <i class="fa fa-github"></i>
               </a>
               <!-- Gmail -->
               <a class="icons" href="#">
                 <i class="fa fa-envelope"></i>
               </a>
               <!-- Mobile -->
               <a class="icons" href="tel://8233492317">
                  <i class="fa fa-phone">
                    <small style="font-size: 18px;">8233492317<small>
                  </i>
               </a>

             </div>
             <!-- Grid column -->

           </div>
           <!-- Grid row-->

         </div>
       </div>

       <!-- Footer Links -->
       <div class="container text-center text-md-left mt-5">

         <!-- Grid row -->
         <div class="row mt-3">

           <!-- Grid column -->
           <div class="col-md-4 col-lg-4 col-xl-3 mx-auto mb-4">

             <!-- Content -->
             <h6 class="text-uppercase font-weight-bold">Who are we</h6>
             <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="background-color: #fff; width: 60px;">
             <p>
               Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                It has survived not only five centuries, but also the leap into electronic typesetting, rem
             </p>

           </div>
           <!-- Grid column -->

           <!-- Grid column -->
           <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">

             <!-- Links -->
             <h6 class="text-uppercase font-weight-bold">Useful links</h6>
             <hr class=" accent-2 mb-4 mt-0 d-inline-block mx-auto" style=" background-color: #fff; width: 60px;">
             <p>
               <a href="#">About Us</a>
             </p>
             <p>
               <a href="#">Our vision</a>
             </p>
             <p>
               <a href="#">Ideas</a>
             </p>
             <p>
               <a href="/contact_us">Contact Us</a>
             </p>

           </div>
           <!-- Grid column -->

           <!-- Grid column -->
           <div class="col-md-4 col-lg-4 col-xl-4 mx-auto mb-md-0 mb-4">

             <!-- Links -->
             <h6 class="text-uppercase font-weight-bold">Reach Us</h6>
             <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="background-color: #fff; width: 60px;">
             <p>
               <i class="fas fa-home mr-3"></i> Model town-3, Ahmedabad, Gujrat, 153599</p>
             <p>
               <i class="fas fa-envelope mr-3"></i> abcgsd@gmail.com</p>
             <p>
               <i class="fas fa-phone mr-3"></i>  82 334 923 17</p>

           </div>
           <!-- Grid column -->

         </div>
         <!-- Grid row -->

       </div>
       <!-- Footer Links -->

       <!-- Copyright -->
       <div class="footer-copyright text-center py-3">© <span class="year"></span> OBD Solutions, All rights reserved.
       </div>
       <!-- Copyright -->

     </footer>
     <!-- Footer -->
     
  <%- include("partials/footer") -%>
