<%- include("partials/header") -%>
    <title>Login</title>
  </head>
<body>

      <center class="landing_head"><h2>Heading with brand's logo</h2></center>
      <div class="landing_box">
          <div class="landing_logo"><i class="fa fa-users"></i></div>
          <p>Some text will come here !!</p>
          <a href="/login/user"><div class="landing_link">User</div></a>
          <a href="/login/admin"><div class="landing_link">Admin</div></a>
      </div>


<%- include("partials/footer") -%>
