<%- include("partials/header") -%>
           <title>Error 404 : Not Found!</title>
         </head>
       <body>

       <div class="add_driver">
       <img class="mb-4" src="images/logo.png" alt="" width="130" height="130"> 
       <h2>Error 404 : Not Found!!</h2>
       </div>

<%- include("partials/footer") -%>
