<%- include("partials/header") -%>
           <title>Error 404 : Not Found!</title>
         </head>
       <body>

         <a class="back-button" href="/my_driver_locations" >
          <i class="fas fa-home fa-2x"></i>
         </a>

       <div class="add_driver">
       <img class="mb-4" src="images/logo.png" alt="" width="130" height="130">
       <h2>Error 404 : Not Found!!</h2>
       </div>

<%- include("partials/footer") -%>
