<%- include("partials/header") -%>
           <title>Update Profile</title>
         </head>
       <body>

     <div class="user_update">
        <form action="/update_profile" method="POST" enctype="multipart/form-data" >
            <img src="/company_driver_dp/<%= company_dp %>" height="130px" width="130px">
            <h1 class="h3 mb-3 font-weight-normal">Update your profile</h1>
            <input type="text" name="company_name" class="form-control mb-3" placeholder="Company Name" required>
            <input type="text" name="contact_no" class="form-control mb-3" placeholder="Contact No." required>
            <input type="text" name="address" class="form-control mb-3" placeholder="Address" required>
            <input type="file" name="company_dp">
            <br />
            <br />
            <div class="form-row">
                <div class="col">
                    <button class="btn" type="submit">Update</button>
                </div>
            </div>
          </form>
          <br />
          <div class="col">
              <a  class="my_link" href="/user_page"><button class="btn">Cancel</button></a>
          </div>
     </div>



<%- include("partials/footer") -%>
